In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [9]:
browser = webdriver.Chrome()

In [10]:
browser.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%ED%99%98%EC%9C%A8')

In [16]:
table = browser.find_element(By.CLASS_NAME, 'rate_table_bx')
rows = table.find_elements(By.TAG_NAME, 'tr')
for row in rows:
    country_name = row.find_element(By.TAG_NAME, 'th').text
    a.append(country_name)
a = a[1:]
print(a)

['일본 JPY 100', '유럽연합 EUR', '중국 CNY', '영국 GBP', '호주 AUD', '캐나다 CAD', '뉴질랜드 NZD', '통화명', '미국 USD', '일본 JPY 100', '유럽연합 EUR', '중국 CNY', '영국 GBP', '호주 AUD', '캐나다 CAD', '뉴질랜드 NZD']

In [14]:
table = browser.find_element(By.CLASS_NAME, 'rate_table_bx')
rows = table.find_elements(By.TAG_NAME, 'tr')
for row in rows:
    
    datas = row.find_elements(By.TAG_NAME,'td')
    for data in datas:
        tmp = data.text
        print(tmp)

1,421.00
전일대비
하락12.00
-0.84%
966.37
전일대비
하락2.04
-0.21%
1,423.84
전일대비
하락1.57
-0.11%
196.52
전일대비
상승0.56
+0.29%
1,643.95
전일대비
상승0.73
+0.04%
918.89
전일대비
상승3.85
+0.42%
1,047.63
전일대비
하락3.96
-0.38%
824.46
전일대비
하락0.23
-0.03%

In [17]:
a = []
b = []
c = []
d = []
z = []
table = browser.find_element(By.CLASS_NAME, 'rate_table_bx')
rows = table.find_elements(By.TAG_NAME, 'tr')
for row in rows:
    country_name = row.find_element(By.TAG_NAME, 'th').text
    a.append(country_name)
    
    datas = row.find_elements(By.TAG_NAME,'td')
    for data in datas:
        tmp = data.text
        tmp = tmp.replace('전일대비\n하락','')
        tmp = tmp.replace('전일대비\n상승','')
        z.append(tmp)

for idx in range(len(z)):
    if idx % 3 == 0:
        b.append(z[idx])
    elif idx % 3 == 1:
        c.append(z[idx])
    elif idx % 3 == 2:
        d.append(z[idx])

    
a = a[1:]

import pandas as pd
df = pd.DataFrame({'통화명':a,'매매기준율':b,'전일대비':c,'등락율':d})
df

          통화명     매매기준율   전일대비     등락율
0      미국 USD  1,421.00  12.00  -0.84%
1  일본 JPY 100    966.37   2.04  -0.21%
2    유럽연합 EUR  1,423.84   1.57  -0.11%
3      중국 CNY    196.52   0.56  +0.29%
4      영국 GBP  1,643.95   0.73  +0.04%
5      호주 AUD    918.89   3.85  +0.42%
6     캐나다 CAD  1,047.63   3.96  -0.38%
7    뉴질랜드 NZD    824.46   0.23  -0.03%